<form asp-action="Reservar" asp-controller="Movimentacao" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Reserva de Vaga</legend>

        <div class="form-group">
            <label>Placa</label>
            <input name="placa" type="text" class="form-control placa" placeholder="AAA-0000" onkeyup="this.value = this.value.toUpperCase();">
        </div>
        <br/>
        <br />

        <input type="submit" class="btn btn-primary" value="Reservar" />

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </fieldset>
</form>