@model Funcionario


<form asp-action="Cadastrar" asp-controller="Funcionario" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Cadastro Funcionário</legend>

        <div class="form-group">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" type="text" class="form-control" placeholder="João Carlos">
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="CPF">CPF</label>
            <input asp-for="CPF" type="text" class="form-control" placeholder="123456789">
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="Funcao">Função</label>
            <input asp-for="Funcao" type="text" class="form-control" placeholder="Admin">
            <span class="text-danger" asp-validation-for="Funcao"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Cadastrar" />

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </fieldset>
</form>