@model List<Movimentacao>

<div class="row">
    <div class="col-md-4">
        <div class="bitcoin">
            <h2>Bitcoin R$ - Compra</h2>
            <h3 class="realCompra"></h3>
        </div>
    </div>
</div>

<br />
<hr />
<div class="row">
    @foreach (Movimentacao movimentacaoCadastrado in Model)
    {
        <div class="col-sm-3 div-conteudo">
            <img src="~/images/icon.ico" alt="Imagem de Carro" style="width:80px;height:80px" />
            <h1>@movimentacaoCadastrado.Carro.Placa</h1>
            <h2>@movimentacaoCadastrado.Carro.Modelo</h2>
        </div>
    }
</div>

<script src="~/js/api.js"></script>


