
<div class="row">
    <div class="col-md-4">
        <div class="bitcoin">
            <h2>Bitcoin R$ - Compra</h2>
            <h3 class="realCompra"></h3>
        </div>
     </div>
</div>
<script src="~/js/site.js"></script>
