@model Funcionario

<form asp-action="Cadastrar">
    <fieldset>
        <legend>Cadastrar Funcionário</legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" type="text" class="form-control" placeholder="João Carlos">
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="CPF">CPF</label>
            <input asp-for="CPF" type="text" class="form-control cpf" placeholder="333.333.333-33">
            <span class="text-danger" asp-validation-for="CPF"></span>
        </div>

        <div class="form-group">
            <label asp-for="Funcao">Função</label>
            <input asp-for="Funcao" type="text" class="form-control" placeholder="Admin">
            <span class="text-danger" asp-validation-for="Funcao"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" type="email" class="form-control" placeholder="joao@email.com.br" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Senha" class="control-label"></label>
            <input asp-for="Senha" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmacaoSenha" class="control-label"></label>
            <input asp-for="ConfirmacaoSenha" class="form-control" />
            <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
        </div>
        <br />
        <br />

        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>
    </fieldset>
</form>