@model Cliente

<form asp-action="Cadastrar">
    <fieldset>
        <legend>Cadastro Cliente</legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" type="text" class="form-control" placeholder="João Carlos">
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="CPF">CPF</label>
            <input asp-for="CPF" type="text" class="form-control cpf" placeholder="333.333.333-33">
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telefone">Telefone</label>
            <input asp-for="Telefone" type="text" class="form-control sp_celphones" placeholder="(12) 31231-2312">
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" type="email" class="form-control" placeholder="joao@email.com.br" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Senha" class="control-label"></label>
            <input asp-for="Senha" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmacaoSenha" class="control-label"></label>
            <input asp-for="ConfirmacaoSenha" class="form-control" />
            <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>
    </fieldset>
</form>